.champion-image{
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1050px) {
        width: 90%;
    }
}

.champion-name {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        text-decoration: underline;
    }
}

.image-wrapper {
    position: relative;
    width: 100%;

    .champion-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        text-shadow: 0 0 5px #fff;
        cursor: unset;

        &:hover {
            text-decoration: none;
        }
    }
}

.score-overview {
    position: absolute;
    top: 10px;
    right: 250px;
    font-weight: bold;
    font-size: 2rem;

    @media (max-width: 1050px) {
        left: 50%;
        transform: translateX(-50%);
        right: unset;
    }
}

.bronze-emblem {
    width: 200px;
}

.spell-details {
    background: #fff;
    height: 260px;
    padding: 10px;
    border: 2px solid #000;
    overflow-y: scroll;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        background: #d0d0d0;
    }

    p {

        &.title {
            font-weight: bold;
        }
    }
}