.champion-image{
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1050px) {
        width: 90%;
    }
}

.champion-name {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    .button {
        @media (max-width: 1250px) {
            margin-bottom: 50px;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.image-wrapper {
    position: relative;
    width: 100%;

    .champion-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        text-shadow: 0 0 5px #fff;
        cursor: unset;
    }
}

.single-champ {
    &--name {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .overlay {
            position: absolute;
            top: -5%;
            left: 2.5%;
            height: 110%;
            width: 95%;
            pointer-events: none;
        }

        .champion-name {
            background: #f6f6f6;
            padding: 25px 0;
            font-family: Beaufort, sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            font-style: italic;
        }
}

    &--no-name {
        position: relative;
        width: max-content;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 1250px) {
            width: 100%;
        }

        .overlay {
            position: absolute;
            top: -5%;
            left: 2.5%;
            height: 110%;
            width: 95%;
            pointer-events: none;

            @media (max-width: 1250px) {
                top: -5%;
                left: 7.5%;
                height: 110%;
                width: 85%;
                pointer-events: none;
            }
        }
    }
}

.score-overview {
    position: absolute;
    top: 10px;
    right: 250px;
    font-weight: bold;
    font-size: 2rem;

    @media (max-width: 1050px) {
        left: 50%;
        transform: translateX(-50%);
        right: unset;
    }
}

.bronze-emblem {
    width: 200px;
}