.spell-details {
    background: #fff;
    height: 260px;
    padding: 10px;
    border: 2px solid #000;
    overflow-y: scroll;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        background: #d0d0d0;
    }

    p {

        &.title {
            font-weight: bold;
        }
    }
}